.product-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  max-width: 850px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  padding: 1rem;
  border-radius: 1rem;
}
